<table class="table table-bordered table-striped table-hover">
  <thead class="table-light">
  <tr>
    <th>Companies Name</th>
  </tr>
  </thead>
  <tbody>
  <% if @companies.present? %>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5" class="text-center text-danger fw-bold">No records found</td>
    </tr>
  <% end %>
  </tbody>
</table>
