#preview{
    width: 80px;
    height: 80px;
    display: none;object-fit: cover;
}

#video{
    display: none;
    border-radius: 10px;
    object-fit: cover;
}

#canvas{
    display: none;
}

#captureBtn{
    font-size: 1.5rem;
    border-radius: 10px;
    margin-right: 10px;
}

#submitBtn{
    font-size: 1.5rem;
    border-radius: 10px;
    margin-right: 10px;
}